@charset "UTF8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right,#65AFFF,#C7FFED,#AAFAC8);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #3153399f;
    width: 600px;
    padding: 10px;
    margin: auto;

}
h1{
    color: #B118C8;
    text-align: center;
    box-shadow: 1px 1px 2px #ab4db9a4 ;
}
h2{
    color: #150578;
}

p{
    text-align: justify;
}